<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product Page</title>
</head>
<link rel="stylesheet" href="/css/product.css">
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header-item-list">
                <li class="main-header-item"><a href="/">Shop</a></li>
                <li class="main-header-item"><a class="active" href="admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-section">
        <form class="form-section" action="/admin/add-product" method="POST">
            <h1 class="form-title">Add Products</h1>
            <div class="form-controler">
            <label for="productTitle">Title</label>
            <input type="text" placeholder="product-name" name="productTitle"/>
            </div>
            <button class="form-button" type="submit">ADD</button>
        </form>
    </main>
</body>
</html>