<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header-item-list">
                <li class="main-header-item"><a class="active" href="/">Shop</a></li>
                <li class="main-header-item"><a href="admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-section">
            <h1 class="main-section-heading">Books Container</h1>
        </div>
        <div class="main-section-prds">
            <% if(prds.length > 0) { %>
            <% for(let product of prds) { %>
            <div class="card prd-item">
                <header class="card__header">
                    <h1 class="prd__title"><%= product.productTitle %></h1>
                </header>
                <div class="card__img">
                    <img class="img__dis" src="https://img.etimg.com/photo/msid-102177218,imgsize-235452/YouCan%2CbyGeorgeMatthewAdams.jpg" alt="BookPhoto"/>
                </div>
                <div class="card__content">
                    <h3 class="prd__price">₹ 186.00</h3>
                    <p class="prd__description">A very interesting book about so many life saver insights.</p>
                </div>
                <div class="card__actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </div>
            <% } %>
            <% } else { %>
                <h1>No Books to Display!!</h1>
            <% } %>
        </div>
    </main>
</body>
</html>